/*===============================BODY SECTION STARTS HERE*=================================*/
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.clearfix::after{
	display: block;
	clear: both;
	content: "";
}
/*===============================CONTAINER SECTION STARTS HERE*=================================*/

#container{
	width: 60%;
	height: 500px;
	margin: auto;
	border: 1px solid black;
	}
	/*===============================TITLE SECTION STARTS HERE*=================================*/
	#title{
		font-size: 14px;

	}

/*===============================LEFT SECTION STARTS HERE*=================================*/

.left-side{
	width: 50%;
	height: 500px;
	float: left;
}
.left-side img{
	width: 50%;
	height: 200px;
	margin: auto;
	padding-top: 150px;
	padding-left: 10px;
	margin-top: -35px;
	margin-left: 100px;
	}

.left-side img:hover{
	animation: rotate 4s infinite 0s, background 4s infinite 0s ;
}

@keyframes rotate {
	0%{
		transform: rotateZ(0deg);
	}
	25%{
		transform: rotateZ(90deg);
	}
	50%{
		transform: rotateZ(180deg);
	}
	75%{
		transform: rotateZ(270deg);
	}
	100%{
		transform: rotateZ(360deg);
	}

}

@keyframes background {
	0%{
		background: rebeccapurple;
	}
	25%{
		background: blueviolet;
	}
	50%{
		background: greenyellow;
	}
	75%{
		background: darkorange;
	}
	100%{
		background: dimgrey;
	}

}

/*===============================RIGHT SECTION STARTS HERE*=================================*/
.right-side{
	width: 50%;
	height: 500px;
	float: right;
}
.right-side h1{
	font-family: 'Space Mono', monospace;
	padding-top: 95px;
	width: 250px;
	padding-left: 10px;
	margin-left: 90px;
	opacity: 0.8;
	margin-top: -35px;
}
.right-side p{
	font-family: 'Space Mono', monospace;
	width: 200px;
	font-size: 12px;
	color: gray;
	margin-left: 100px;	
}


 div a {
 	font-family: 'Space Mono', monospace;
	width:  45%;
	height: 50px;
	display: inline-block;
	text-align: center;
	background: black;
	margin-top: 30px;
	margin-left: 100px;
	color: white;
	font-size: 14px;	
	line-height: 50px;
	text-decoration: none	;
	border-radius: 5px;
	opacity: 0.8;
	transition: background 2s ease-in-out 1000ms;
}

div a:hover{
	background: linear-gradient(orange, blue, pink);

}
/*===============================FOOTER SECTION STARTS HERE*=================================*/
footer{
	margin-top: 90px;
	margin-left: -150px;
	opacity: 0.3;
}
span{
	color: blue;
}
/*===============================MEDIA QUERY SECTION STARTS HERE*=================================*/
@media (max-width:480px){
	
	.left-side img{
		padding-top: 25px;
		height: 100px;
		width: 100%;
		margin: auto;
		margin-left: 45px;
	}
	.right-side h1{
		padding-top: 160px;
		margin-left: -110px;
		margin-bottom: 60px;
		font-size: 16px;
		width: 120px;
	}
	.right-side p {
		margin-left: -100px;
		padding-top: -500px;

	}
	div a {
	margin-left: -100px;	
	width: 95%;	
	height: 50px;
	font-size: 12px;
	
	}
	footer{
		margin-left: -90px;
		margin-top: 20px;
	}

	}

